body{
    background: #081B29;
}

.button-me{
    position: relative;
}
.button-me::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    overflow: hidden;
}
.button-me:hover::after{
    width: 0;
    transition-duration: .5s;
}

.swiper-slide {
  width: fit-content !important;
}
.rc-progress-circle-trail{
  stroke-width: 10px;
  stroke: #173F5C!important;
}

/* #btn{
    text-decoration: none;
    color: rgb(254, 244, 244);
    display: inline-block;
    padding: 20px 30px;
    background: #a4acc600;
    margin: 20px;
    border: 1px solid red;
    border-radius: 10px;
    transition: .5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #btn::after{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: rgb(191, 203, 17);
    z-index: -1;
    transition: .4s;
  }
  #btn:hover::after{
    width: 0;
  } */