body{
    background: #081B29;
}

.button-me{
    position: relative;
}
.button-me::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    overflow: hidden;
}
.button-me:hover::after{
    width: 0;
    transition-duration: .5s;
}

/* For Chrome, Safari, and newer versions of Edge */
::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #0C2E47; /* Color of the track (the area behind the thumb) */
}

::-webkit-scrollbar-thumb {
  background-color: #17659c; /* Color of the thumb (the draggable part) */
  border-radius: 6px; /* Rounded corners of the thumb */
}

/* #btn{
    text-decoration: none;
    color: rgb(254, 244, 244);
    display: inline-block;
    padding: 20px 30px;
    background: #a4acc600;
    margin: 20px;
    border: 1px solid red;
    border-radius: 10px;
    transition: .5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #btn::after{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: rgb(191, 203, 17);
    z-index: -1;
    transition: .4s;
  }
  #btn:hover::after{
    width: 0;
  } */